<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body class="clinic_version">
<script th:inline="javascript">
    $(document).ready(function () {
        $("#viewBtn").click(function () {
            $("#viewUrls").toggle();
        });
    });
</script>
<header th:replace="template :: header"></header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="home" class="container">
    <div class="panel-heading"><h3><span class="fa fa-user"></span> Welcome Jonita<!--<span
            th:text="${credential.username}"></span>--></h3></div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="appointment-form">
                    <h3><span class="fa fa-search"></span> Search Medical Records</h3>
                    <div class="form">
                        <form th:action="@{/medicalrecords}" method="post" th:object="${medicalRecordQuery}"
                              class="form-inline">
                            <fieldset>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <select th:field="*{hospitalId}" name="hospital" id="hospitalId"
                                                    class="form-control">
                                                <option value="100">XYZ Hospital</option>
                                                <option value="101">ABC Hospital</option>
                                                <option value="102">123 Hospital</option>
                                                <option value="103">345 Clinic</option>
                                            </select>

                                            <select name="patient" id="patientId" th:field="*{patientId}"
                                                    class="form-control">
                                                <option value="100">Jonita</option>
                                            </select>
                                            <div class="center">
                                                <button type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div>
                                            <p>Share with your doctor.</p>
                                            Authorisation Code: <label id="authCode"
                                                                       th:text="${#strings.randomAlphanumeric(10)}"></label>
                                        </div>
                                    </div>


                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="appointment-form">
                    <h3 align="center">Medical Records of Jonita!
                        <!--<span th:text="${credential.username}"></span>--></h3>
                    <div class="form">

                        <fieldset>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Hospital Name</th>
                                            <th>Doctor Name</th>
                                            <th>Medical Record</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="medicalRecords : ${medicalRecordsList}"
                                            th:with="randomId=${#strings.randomAlphanumeric(10)}"
                                            th:id="${randomId}">
                                            <td th:text="${medicalRecords.hospitalId}"/>
                                            <td th:text="${medicalRecords.drId}"/>
                                            <td th:text="${medicalRecords.illnessDesc}"/>
                                            <td>
                                                <button type="button" class="fa btn btn-info" id="viewBtn"
                                                        th:data-patientId="${medicalRecords.patientID}"
                                                        th:onclick="'javascript:showDiv(this.getAttribute('data-patientId'))'">
                                                    View
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="viewUrls"
                                                     th:fragment="viewUrl" hidden="hidden">

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Prescription/Report Path:</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <!--<tr th:each="url : ${medRecDocUrls}">
                                                                    <td th:text="${url}"/>
                                                                </tr>-->
                                                                <tr>
                                                                    <td>
                                                                        <a href="https://medsaurus.s3.ap-south-1.amazonaws.com/Prescription.JPG"
                                                                           target="_blank">Prescription.JPG</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a href="https://medsaurus.s3.ap-south-1.amazonaws.com/CancerUltraSoundReport.JPG"
                                                                           target="_blank">CancerUltraSoundReport.JPG</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </fieldset>

                    </div>

                </div>
            </div>
        </div>
        <div>

        </div>
    </div>


</div>
<div th:replace="template :: footer"></div>

</body>
</html>